.blog .article {
  margin-bottom: 60px;
  }
.blog .article .article-header {
  margin-bottom: 15px;
  }
.blog .article .article-header time {
  position: absolute;
  top: 2px;
  right: 100%;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 11px;
  color: #999;
  }
.blog .article .article-header h2 {
  margin: 0;
  padding-right: 150px;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  }
.blog .article .article-header a {
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  }
.blog .article .article-header a:hover {
  border-color: rgba(224, 41, 41, 0.2);
  color: #E02929;
  }
.blog .article h3 {
  margin: 30px 0 15px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  }
.blog .article h4 {
  margin: 30px 0 15px 0;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  }
.blog .article p {
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 16px;
  }
.blog .article ul,
.blog .article ol {
  margin: 0 0 20px 18px;
  }
.blog .article ul {
  list-style: disc;
  }
.blog .article ol {
  list-style: decimal;
  }
.blog .article ul li,
.blog .article ol li {
  margin-bottom: 5px;
  line-height: 1.4;
  font-size: 16px;
  }
.blog .article .article-link-more,
.blog .article .article-link-all {
  position: relative;
  }
.blog .article .article-link-more:after {
  position: absolute;
  top: -2px;
  left: 100%;
  padding: 0 0 0 5px;
  content: '→';
  }
.blog .article .article-link-all:before {
  position: absolute;
  top: -2px;
  right: 100%;
  padding: 0 5px 0 0;
  content: '←';
  }
.blog .article .article-footer {
  overflow: hidden;
  font-size: 16px;
  }
.blog .article .article-options {
  float: right;
  font-size: 14px;
  }
.blog .article .article-options a {
  position: relative;
  margin-left: 32px;
  }
.blog .article .article-options .fa {
  position: absolute;
  top: 50%;
  left: -17px;
  margin-top: -7px;
  }
.blog .article .article-options .post-delete {
  border-color: rgba(224, 41, 41, 0.2);
  color: #E02929;
  }
.blog .article .article-options .post-delete:hover {
  border-color: rgba(224, 41, 41, 0.4);
  color: #FF0000;
  }
.blog .article .article-options .post-edit {
  border-color: rgba(0, 0, 0, 0.1);
  color: #666;
  }
.blog .article .article-options .post-edit:hover {
  border-color: rgba(0, 0, 0, 0.2);
  color: #333;
  }
.blog-create {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 1;
  padding: 5px 10px;
  line-height: 1;
  font-size: 14px;
  background: #00B209;
  border: none;
  border-radius: 13px;
  color: #FFF;
  }
.blog-create .fa {
  vertical-align: middle;
  }
.blog-create:hover {
  background: #00CA0A;
  color: #FFF;
  }