.LV_validation_message {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.LV_valid {
    color: #0c0;
}

.LV_invalid {
    color: #c00;
}

.fileDrag {
	position: relative;
}

/* not apply in FF5 */
.plupload.html5 input {
	cursor: pointer;
}


