.LV_validation_message {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.LV_valid {
    color: #0c0;
}

.LV_invalid {
    color: #c00;
}

.fileDrag {
	position: relative;
}

/* not apply in FF5 */
.plupload.html5 input {
	cursor: pointer;
}

/* for Safari, append .fileDragover after */
.fileDrag input[type="file"] {
	background: red !important;
	opcity: 1 !important;
	z-index: 1;
}

.fileDragover {
	opacity: .4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
	background: #777;
	color: #fff;
	text-align: center;
}
