/* Enhanced error styling */
#registerForm input.error
{
	background-color: pink;
	outline: none;
}
#registerForm input.required
{
	background-color: #fff;
}
#registerForm input.valid
{
	background-color: #fff;
}

#registerForm .validation-error { display: none; }

.LV_validation_message {
    margin: 0 0 0 10px;
}

.LV_valid {
    color: #0c0;
}

.LV_invalid {
    color: #c00;
}
