.form .editable-input::-webkit-input-placeholder {
  font-size: 14px;
  }
.form .editable-input:-moz-placeholder {
  font-size: 14px;
  }
.form .editable-input::-moz-placeholder {
  font-size: 14px;
  }
.form .editable-input:-ms-input-placeholder {
  font-size: 14px;
  }
.yearTitle {
	font-size: 24px;
	}
.hugeTitle {
	padding-top: 30px;
	margin-bottom: 10px;
	font-size: 24px;
	}
.cl {
	clear: both;
	}
.story-title.editable {
  font-size: 30px;
  }
.story-desc {
	margin-bottom: 10px;
	}
.story-submit {
  margin-bottom: 30px;
  }
.editable-not-editing .editable {
	display: block;
	background: none;
	box-shadow: none;
	}
.editable-editing .editable {
	display: block;
	}
.editable-not-editing .story-title:hover,
.editable-not-editing .story-desc:hover {
	background: #F7F7F7;
	cursor: text;
	}
.form .editable-input[type='text'],
.form .editable-input[type='email'],
.form .editable-input[type='password'],
.form .editable-input {
  width: 100%;
  height: auto;
  padding: 0;
  margin: -5px 0;
  background: #F7F7F7;
  border: none;
  font: 30px/1 Arial, sans-serif;
  }
.form TEXTAREA.editable-input {
	height: 70px;
	margin: 2px 0 0 0;
	font: 14px/1.4 Arial, sans-serif;
	}
.form INPUT.editable-cancel {
	padding: 0;
	margin: 0 0 0 10px;
	height: auto;
	background: none;
	border: none;
	font-size: 14px;
	color: #333;
	}
.form INPUT.editable-cancel:hover {
	cursor: pointer;
	color: #E02929;
	}
.editable-input:hover {
  cursor: text;
  }
.editable-not-editing .editable-submit,
.editable-not-editing .editable-cancel,
.editable-not-editing .editable-input {
	display: none;
	}
.editable-editing .editable-text,
.editable-editing .editable-placeholder {
	display: none;
	}
#storyEditForm {
	width: 610px;
	}
.article .story-title,
.article .story-desc {
	margin: 0 0 10px 0;
	background: none;
	box-shadow: none;
	}
.article .story-submit {
	margin: 10px 0 30px 0;
	}
/* fix empty square in bottom */
.plupload.html5 {
	top: 0;
	left: -100px;
	}

.user-photo {
	position: relative;
	width: 200px;
	height: 200px;
	background: #ccc;
	float: left;
  overflow: hidden;
	}
  .user-photo-content A {
    border: none;
    }
	.user-photo-content > A {
    display: block;
		}
.user-photo.win-open {
	overflow: visible;
}

.user-photo-day {
	position: absolute;
	top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
	border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
	text-align: center;
  line-height: 2;
  font-size: 14px;
	color: #FFF;
  font-weight: 600;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  }

.user-photo.empty .user-photo-day {
  border: none;
  }

.user-photo-proggress {
	background: linear-gradient(to top, #FFFFFF 0%, #FEFEFE 29%, #F9F9F9 53%, #EFF0F0 76%, #E1E2E3 100%);
	position: absolute;
	width: 100px;
	top: 110px;
	left: 49px;
	border: 1px solid #808080;
	border-radius: 2px;
	z-index: 22;
}

.user-photo-proggress-bar {
	background: linear-gradient(to top, #426FD9 0%, #426FD9 18%, #3F6AD1 59%, #375FC2 88%, #335BBC 94%, #335BBC 100%);
	height: 18px;
	width: 1px;
}

.user-photo-additional {
	display: none;
	position: absolute;
	top: 5px;
	left: 0;
	line-height: 16px;
}
	.user-photo:hover .user-photo-additional {
		display: block;
	}
	.user-photo-additional span {
		padding: 5px;
		background: #000;
		background: rgba(0, 0, 0, 0.75);
	}

.user-photo.active {
	box-shadow: inset 0 0 4px 4px #888 !important;
}
.user-photo:hover {
	box-shadow: inset 0 0 1px 1px #888;
	cursor: pointer;
}

.user-photo-image {
	position: relative;
	max-width: 200px;
	max-height: 200px;
	vertical-align: top;
}

.user-photo-manage {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -26px;
	padding: 7px 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
  transition: bottom 200ms ease-out;
	line-height: 1;
	font-size: 12px;
	text-align: center;
	color: #FFF;
  }

.user-photo-likes {
	position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.7);
  }
  .user-photo-likes .fa-heart {
    color: #E02929;
    }

.user-photo-like {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 18px;
  }

.user-photo-like-total {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 12px;
  }

.user-photo.available:hover .user-photo-manage {
  bottom: 0;
  }

.dummy {
	background: #FFF;
	border: 2px solid #EEE;
	width: 196px;
	height: 196px;
	}
	.dummy.fa-clock-o:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -42px;
		font-size: 100px;
		color: #F5F5F5;
		}
.dummy:hover {
	box-shadow: none;
	cursor: default;
	}

/* svg container */
.user-photo-filebodyover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
	.user-photo-filebodyover path {
		stroke: #aaa;
		stroke-width: 10px;
		stroke-linejoin: round;
		fill: rgba(0, 0, 0, 0.5);
		stroke-dasharray: 42, 4;
	}
	.user-photo-filebodyover text {
		fill: white;
		font-size: 20px;
		text-anchor: middle;
	}
	.active .user-photo-filebodyover path {
		fill: rgba(0, 0, 0, 0.9) !important;
	}



.user-photo-dragimageover {
	background: #e79d35;
}
	.user-photo-dragimageover .user-photo-day {
		z-index: 1;
		border-color: #e79d35;
	}

.user-photo_dragging .user-photo-manage {
	display: none;
}

.user-photo:hover .user-photo-day {
	z-index: 0;
}

.user-photo-manage-win {
	position: absolute;
	left: -10px;
	right: -210px;
	bottom: -10px;
	top: -10px;
	background: #fff;
  border-radius: 10px;
	border: 1px solid #888;
	z-index: 20;
}
.user-photo-manage-win-left {
	right: -10px;
	left: -210px;
}
.user-photo-manage-win-left .manage-win-image {
	float: right;
}
	.manage-win-aside {
		padding: 0 7px;
	}
	.ctrl-replace, .ctrl-remove, .ctrl-restore {
		cursor: pointer;
	}
	.manage-win {
		margin-top: 8px;
	}
	.manage-win-image {
		float: left;
		margin: 1px 9px 0 9px;
	}

.user-photo-restore {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	padding-top: 118px;
	text-align: center;
	background:transparent;
	background: rgba(225,225,225,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99CCCCCC,endColorstr=#99CCCCCC);
	zoom: 1;
}
	.user-photo-restore .ctrl-replace,
	.user-photo-restore .ctrl-restore {
		text-shadow: 0 1px 0 #fff;
	}

.user-photo-empty-holder50 {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 2px;
	background-color: #EEEEEE;
}

.user-photo-holder50 {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 2px;
}

.storylist-title {
	font-size: 30px;
}

.storylist-item {
	margin-bottom: 20px;
}

.storylist-item-title-out {
	margin-bottom: 5px;
	}

.storylist-item-title {
	font-size: 20px;
	text-decoration: none;
	border: none;
}

.storylist-item-info {
	clear: both;
	padding-top: 5px;
	font-size: 12px;
}

.storylist-item-progress {
	font-weight: bold;
}

.storylist-item-day-lag {
}

#storyTitleInput {
	width: 400px;
}

#storyDescriptionInput {
	width: 400px;
	height: 5em;
}

#rssBlock {
	position: relative;
	top: 4px;
	width: 40px;
}

.manage-win-texts INPUT[type="text"] {
	margin-bottom: 5px;
	}
.manage-win-texts INPUT[type="text"],
.manage-win-texts TEXTAREA {
	border: 1px solid #CCC;
	}
