/* Story edit */
.editable-not-editing,
.editable-editing {
  display: inline-block;
  }
.editable-not-editing .editable {
  display: block;
  background: none;
  box-shadow: none;
  }
.editable-editing .editable {
  display: block;
  }
.editable-not-editing .story-title:hover,
.editable-not-editing .story-desc:hover {
  box-shadow: -5px 0 0 #F7F7F7;
  background: #F7F7F7;
  cursor: text;
  }
.form .editable-input[type='text'],
.form .editable-input[type='email'],
.form .editable-input[type='password'],
.form .editable-input {
  width: 100%;
  height: auto;
  padding: 0;
  margin: -5px 0;
  background: #F7F7F7;
  border: none;
  font: 30px/1 Arial, sans-serif;
  }
.editable-editing ::-webkit-input-placeholder {
  line-height: 1.1;
  font-size: 16px;
  }
.editable-editing :-moz-placeholder {
  line-height: 1.1;
  font-size: 16px;
  }
.editable-editing ::-moz-placeholder {
  line-height: 1.1;
  font-size: 16px;
  }
.editable-editing :-ms-input-placeholder {
  line-height: 1.1;
  font-size: 16px;
  }
.form TEXTAREA.editable-input {
  height: 70px;
  margin: 2px 0 0 0;
  font: 14px/1.4 Arial, sans-serif;
  }
.form INPUT.editable-cancel {
  padding: 0;
  margin: 0 0 0 5px;
  height: auto;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  color: #666;
  }
.form INPUT.editable-cancel:hover {
  border-bottom-color: rgba(224, 41, 41, 0.2);
  color: #E02929;
  }
.editable-input:hover {
  cursor: text;
  }
.editable-placeholder {
  color: #999;
  }
.editable-not-editing .editable-submit,
.editable-not-editing .editable-cancel,
.editable-not-editing .editable-input,
.editable-editing .editable-text,
.editable-editing .editable-placeholder {
  display: none;
  }

/* Story content */
.story-content {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  color: #ECECEC;
  }
.story-content:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -34px;
  line-height: 1;
  font-size: 80px;
  }

/* Story manage */
.story-manage {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 520px;
  height: 240px;
  background: #FFF;
  z-index: 7;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
  cursor: default;
  }
.story-item-manage {
  overflow: visible;
  }
.story-item-manage:hover {
  cursor: default;
  }
.story-item-manage .story-manage {
  display: block;
  cursor: default;
  }
.story-item-manage .story-edit {
  display: none;
  }
.story-manage-img {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  background: #F7F7F7;
  }
.story-manage-img .fa-circle-o-notch {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-size: 20px;
  margin: -10px 0 0 -10px;
  }
.story-manage-img.upload {
  opacity: 0.5;
  }
.story-manage-img.upload .fa-circle-o-notch {
  display: block;
  }
.story-manage-img-edit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
  padding: 7px 0;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  }
.story-manage-img-edit:hover {
  background: rgba(0, 0, 0, 0.7);
  }
.story-manage-img .fa-trash-o {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  }
.story-item-empty .story-manage-img:hover {
  cursor: pointer;
  }
.story-item-empty .story-manage-img:hover .fa-file-image-o {
  color: #B6B6B6;
  }
.story-item-empty .story-manage-img:hover .story-manage-img-edit {
  background: rgba(0, 0, 0, 0.6);
  }
.story-manage-img .fa-file-image-o:before {
  line-height: 2.5;
  font-size: 80px;
  }
.story-manage-img .fa-trash-o:before {
  position: relative;
  top: 4px;
  }
.story-manage-img .fa-trash-o:hover {
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  color: #E02929;
  }
.story-manage-content {
  overflow: hidden;
  padding-left: 20px;
  }
.story-manage H4 {
  text-align: left;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 18px;
  }
.story-manage .form FIELDSET {
  margin-bottom: 10px;
  text-align: left;
  }
.story-manage .form INPUT[type='text'] {
  padding: 0 5px;
  height: 25px;
  font-size: 14px;
  background: none;
  border: 1px solid #E1E2E3;
  }
.story-manage .form INPUT[type='submit'] {
  padding: 0 15px;
  height: 30px;
  font-size: 14px;
  }
.story-manage .form TEXTAREA {
  width: 100%;
  height: 94px;
  padding: 3px 5px;
  font-size: 14px;
  border: 1px solid #E1E2E3;
  }
.story-manage .form ::-webkit-input-placeholder {
  font-size: 14px;
  color: #ccc;
  }
.story-manage .form :-moz-placeholder {
  font-size: 14px;
  color: #ccc;
  }
.story-manage .form ::-moz-placeholder {
  font-size: 14px;
  color: #ccc;
  }
.story-manage .form :-ms-input-placeholder {
  font-size: 14px;
  color: #ccc;
  }
.story-manage .form .cancel {
  border-bottom-style: dotted;
  font-size: 12px;
  }
.story-manage-r {
  left: auto;
  right: -20px;
  }
.story-manage-r .story-manage-img {
  float: right;
  }
.story-manage-r .story-manage-content {
  padding: 0 20px 0 0;
  }
.story-manage-r .story-manage-img .fa-trash-o {
  left: auto;
  right: 5px;
  }

/* Story restore */
.story-img-restore {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 6;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  cursor: default;
  }
.story-img-restore-content {
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  padding: 10px;
  background: #FFF;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #AAA;
  }
  .story-img-restore .ctrl {
    display: inline-block;
    border-bottom-style: dotted;
    line-height: 1;
    font-style: normal;
    cursor: pointer;
    }
  .story-img-restore ~ .story-edit {
    display: none;
  }

.story-title.editable {
  font-size: 30px;
  }
.story-desc {
	margin-bottom: 10px;
	}
.story-submit {
  margin-bottom: 30px;
  }

.user-photo-proggress {
	position: absolute;
  top: 60%;
  left: 20px;
  right: 20px;
  height: 4px;
  background: rgba(0, 85, 204, 0.2);
  }
.user-photo-proggress-bar {
	background: #0055CC;
	height: 4px;
  width: 0;
  }

/* Story img likes */
.story-img-likes {
	position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  color: #fff;
  }
.story-img-likes .fa-heart {
  text-shadow: none;
  color: #E02929;
  }
.story-img-like {
  display: inline-block;
  vertical-align: middle;
  border: none;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 18px;
  color: #fff;
  }
.story-img-like-total {
  display: inline-block;
  vertical-align: middle;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  line-height: 1;
  font-size: 12px;
  }
.story-img-like:hover {
  text-shadow: none;
  }

/* Drug'n'drop */
.story-img-filebodyover {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  text-align: center;
  display: table;
  width: 188px;
  height: 188px;
  z-index: 6;
  font: 16px/1.2 Arial, sans-serif;
  color: #666;
  background: rgba(255, 255, 255, 0.9);
  }
.story-img-filebodyover:before,
.story-img-dragimageover:before {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  content: '';
  border: 4px dashed #CCC;
  }
.story-img-dragimageover:before {
  border-color: #999;
  }
.story-img-dragging-text {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  }
.story-item.active .story-img-filebodyover {
  background: rgba(255, 255, 255, 1);
  }
.story-item.active .story-img-filebodyover:before {
  border-color: #999;
  }
.story-item.win-open .story-img-filebodyover {
  z-index: 7;
  }

