.form .editable-input::-webkit-input-placeholder {
  font-size: 14px;
  }
.form .editable-input:-moz-placeholder {
  font-size: 14px;
  }
.form .editable-input::-moz-placeholder {
  font-size: 14px;
  }
.form .editable-input:-ms-input-placeholder {
  font-size: 14px;
  }


.story-content {
  position: relative;
  overflow: hidden;
  }

/* Story manage */
.story-manage {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 520px;
  height: 240px;
  background: #FFF;
  z-index: 6;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
  line-height: 1;
  font-size: 12px;
  }
.story-item-manage {
  overflow: visible;
  }
.story-item-manage:hover {
  cursor: default;
  }
.story-item-manage .story-manage {
  display: block;
  cursor: default;
  }
.story-item-manage .story-edit {
  display: none;
  }
.story-manage-img {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  background: #F7F7F7;
  }
.story-manage-img .fa-circle-o-notch {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-size: 20px;
  margin: -10px 0 0 -10px;
  }
.story-manage-img.upload {
  opacity: 0.5;
  }
.story-manage-img.upload .fa-circle-o-notch {
  display: block;
  }
.story-manage-img-edit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
  padding: 7px 0;
  line-height: 1;
  font-size: 12px;
  }
.story-manage-img-edit:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  }
.story-manage-img .fa-trash-o {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  }
.story-item-empty .story-manage-img:hover {
  cursor: pointer;
  }
.story-item-empty .story-manage-img:hover .fa-file-image-o {
  color: #B6B6B6;
  }
.story-item-empty .story-manage-img:hover .story-manage-img-edit {
  background: rgba(0, 0, 0, 0.6);
  }
.story-manage-img .fa-file-image-o:before {
  line-height: 2.5;
  font-size: 80px;
  }
.story-manage-img .fa-trash-o:before {
  position: relative;
  top: 4px;
  }
.story-manage-img .fa-trash-o:hover {
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  color: #E02929;
  }
.story-manage-content {
  overflow: hidden;
  padding-left: 20px;
  }
.story-manage H4 {
  text-align: left;
  margin-bottom: 15px;
  font: 16px/1 'RobotoLight', sans-serif;
  color: #333;
  }
.story-manage .form {
  margin-top: 10px;
  }
  .story-manage .form FIELDSET {
    margin-bottom: 10px;
    text-align: left;
    }
  .story-manage .form INPUT[type='text'] {
    padding: 0 5px;
    height: 25px;
    font-size: 12px;
    background: none;
    border: 1px solid #CCC;
    }
  .story-manage .form INPUT[type='submit'] {
    padding: 0 15px;
    height: 28px;
    font-size: 12px;
    }
  .story-manage .form TEXTAREA {
    width: 100%;
    height: 94px;
    padding: 3px 5px;
    font-size: 12px;
    border: 1px solid #CCC;
    }
  .story-manage .form ::-webkit-input-placeholder {
    font-size: 12px;
    color: #CCC;
    }
  .story-manage .form :-moz-placeholder {
    font-size: 12px;
    color: #CCC;
    }
  .story-manage .form ::-moz-placeholder {
    font-size: 12px;
    color: #CCC;
    }
  .story-manage .form :-ms-input-placeholder {
    font-size: 12px;
    color: #CCC;
    }
  .story-manage .form .cancel {
    font-size: 12px;
    }

/* Right position */
.story-manage-r {
  left: auto;
  right: -20px;
  }
.story-manage-r .story-manage-img {
  float: right;
  }
.story-manage-r .story-manage-content {
  padding: 0 20px 0 0;
  }
.story-manage-r .story-manage-img .fa-trash-o {
  left: auto;
  right: 5px;
  }

.story-title.editable {
  font-size: 30px;
  }
.story-desc {
	margin-bottom: 10px;
	}
.story-submit {
  margin-bottom: 30px;
  }
.editable-not-editing .editable {
	display: block;
	background: none;
	box-shadow: none;
	}
.editable-editing .editable {
	display: block;
	}
.editable-not-editing .story-title:hover,
.editable-not-editing .story-desc:hover {
	background: #F7F7F7;
	cursor: text;
	}
.form .editable-input[type='text'],
.form .editable-input[type='email'],
.form .editable-input[type='password'],
.form .editable-input {
  width: 100%;
  height: auto;
  padding: 0;
  margin: -5px 0;
  background: #F7F7F7;
  border: none;
  font: 30px/1 Arial, sans-serif;
  }
.form TEXTAREA.editable-input {
	height: 70px;
	margin: 2px 0 0 0;
	font: 14px/1.4 Arial, sans-serif;
	}
.form INPUT.editable-cancel {
	padding: 0;
	margin: 0 0 0 10px;
	height: auto;
	background: none;
	border: none;
	font-size: 14px;
	color: #333;
	}
.form INPUT.editable-cancel:hover {
	cursor: pointer;
	color: #E02929;
	}
.editable-input:hover {
  cursor: text;
  }
.editable-placeholder {
  color: #999;
  }
.editable-not-editing .editable-submit,
.editable-not-editing .editable-cancel,
.editable-not-editing .editable-input {
	display: none;
	}
.editable-editing .editable-text,
.editable-editing .editable-placeholder {
	display: none;
	}

.article .story-title,
.article .story-desc {
	margin: 0 0 10px 0;
	background: none;
	box-shadow: none;
	}
.article .story-submit {
	margin: 10px 0 30px 0;
	}
/* fix empty square in bottom */
.plupload.html5 {
	top: 0;
	left: -100px;
	}

.user-photo-proggress {
	background: linear-gradient(to top, #FFFFFF 0%, #FEFEFE 29%, #F9F9F9 53%, #EFF0F0 76%, #E1E2E3 100%);
	position: absolute;
	width: 100px;
	top: 110px;
	left: 49px;
	border: 1px solid #808080;
	border-radius: 2px;
	z-index: 22;
}
.user-photo-proggress-bar {
	background: linear-gradient(to top, #426FD9 0%, #426FD9 18%, #3F6AD1 59%, #375FC2 88%, #335BBC 94%, #335BBC 100%);
	height: 18px;
	width: 1px;
}


.user-photo-likes {
	position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.7);
  }
  .user-photo-likes .fa-heart {
    color: #E02929;
    }
.user-photo-like {
  display: inline-block;
  vertical-align: middle;
  border: none;
  line-height: 1;
  font-size: 18px;
  }
.user-photo-like-total {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 12px;
  }


.dummy {
	background: #FFF;
	border: 2px solid #EEE;
	width: 196px;
	height: 196px;
	}
	.dummy.fa-clock-o:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -42px;
		font-size: 100px;
		color: #F5F5F5;
		}
.dummy:hover {
	box-shadow: none;
	cursor: default;
	}

/* svg container */
.user-photo-filebodyover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
	.user-photo-filebodyover path {
		stroke: #aaa;
		stroke-width: 10px;
		stroke-linejoin: round;
		fill: rgba(0, 0, 0, 0.5);
		stroke-dasharray: 42, 4;
	}
	.user-photo-filebodyover text {
		fill: white;
		font-size: 20px;
		text-anchor: middle;
	}
	.active .user-photo-filebodyover path {
		fill: rgba(0, 0, 0, 0.9) !important;
	}



.user-photo-dragimageover {
	background: #e79d35;
}
	.user-photo-dragimageover .user-photo-day {
		z-index: 1;
		border-color: #e79d35;
	}

.user-photo_dragging .user-photo-manage {
	display: none;
}

.user-photo:hover .user-photo-day {
	z-index: 0;
}



.user-photo-restore {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	padding-top: 118px;
	text-align: center;
	background:transparent;
	background: rgba(225,225,225,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99CCCCCC,endColorstr=#99CCCCCC);
	zoom: 1;
}

	.user-photo-restore .ctrl-replace,
	.user-photo-restore .ctrl-restore {
		text-shadow: 0 1px 0 #fff;
	}

.user-photo-empty-holder50 {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 2px;
	background-color: #EEEEEE;
}

.user-photo-holder50 {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 2px;
}

.storylist-title {
	font-size: 30px;
}

.storylist-item {
	margin-bottom: 20px;
}

.storylist-item-title-out {
	margin-bottom: 5px;
	}

.storylist-item-title {
	font-size: 20px;
	text-decoration: none;
	border: none;
}

.storylist-item-info {
	clear: both;
	padding-top: 5px;
	font-size: 12px;
}

.storylist-item-progress {
	font-weight: bold;
}

.storylist-item-day-lag {
}

#storyTitleInput {
	width: 400px;
}

#storyDescriptionInput {
	width: 400px;
	height: 5em;
}

#rssBlock {
	position: relative;
	top: 4px;
	width: 40px;
}
